<div class="container">

  <h2>Create Your Password</h2>

  <hr>

  <form (ngSubmit)="createPassword()" class="form">
    <div>
      <label for="newPassword">New Password</label>
      <input type="password"
              id="newPassword"
              [(ngModel)]="newPassword"
              name="newPassword"
              placeholder="Your new password" required />
    </div>

    <div>
      <label for="confirmNewPassword">Confirm New Password</label>
      <input type="password" id="confirmNewPassword" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" placeholder="Confirm Your new password" required />
    </div>

    <div class="mt10">
      <button type="submit" class="btn btn-primary">Create Password</button>
    </div>

    <hr>

    <app-button-back url="/" text="Back" class="back-link"></app-button-back>
  </form>

</div>
