<div class="container">
  <h1>Reset Password</h1>

  <form (ngSubmit)="sendResetPassword()" class="form">
    <div>
      <label for="newPassword">New Password</label>
      <input
        type="password"
        id="newPassword"
        [(ngModel)]="newPassword"
        name="newPassword"
        placeholder="New password"
        required
      />
    </div>

    <div>
      <label for="confirmPassword">Confirm new password</label>
      <input
        type="password"
        id="confirmPassword"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm new password"
        required
      />
    </div>

    <hr>

    <button type="submit" class="btn btn-primary">Send</button>
  </form>

  <app-button-back url="/login" text="Back" class="back-link"></app-button-back>
</div>
